.buttonBlue {
	-fx-background-color: #87CEEB
}

.buttonBlue: hover {
	-fx-background-color: #B9E3F3
}

.buttonGreen {
	-fx-background-color: #90EE90
}

.buttonGreen: hover {
	-fx-background-color: #C3F6C3
}

.buttonRed {
	-fx-background-color: #FF6347
}

.buttonRed: hover {
	-fx-background-color: #FF9582
}